<app-country-header></app-country-header>
<div class="country-list__container">
  <h1>{{ userName }}</h1>

  <!-- Filtering country list -->
  <div class="country-list__filters">
    <!-- Search filter by country name -->
    <app-search 
      (searchChange)="onSearch($event)"
    ></app-search>
  
    <!-- Dropdown filter by country region -->
    <app-filter 
      (regionSelected)="filterCountries()">
    </app-filter>
  </div>
  

  <ul class="country-list__card">
    <li *ngFor="let country of countries" class="country-list__card--element">
      <div class="country-list__card--manage">
        <button>
          <app-icon-edit></app-icon-edit>
        </button>
        <button>
          <app-icon-delete></app-icon-delete>
        </button>
      </div>
      <img [src]="getFlagUrl(country.name.common)" alt="{{ country.name }}" width="30" height="20">
      <div class="card-desc">
        <p><a routerLink="" (click)="getCountryDetails(country.name)">{{ country.name }}</a></p>
        <span>
          <p><b>Population</b>: {{ country.population }}</p>
          <p><b>Region</b>: {{ country.region }}</p>
          <p><b>Capital</b>: {{ country.capital ? country.capital[0] : '-' }}</p>
        </span>
      </div>
    </li> 
  </ul>
  
  <app-pagination 
    [currentPage]="currentPage" 
    [totalPages]="totalPages" 
    (pageChange)="onPageChange($event)">
  </app-pagination>
</div>

