.country-list {
  &__container {
    padding: 0 4rem 2rem;
  }

  &__filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__card {
    list-style: none;
    display: flex;
    grid-gap: 4rem;
    padding: 0;
    margin: 30px 0px;
    flex-wrap: wrap;
    justify-content: space-between;

    &--element {
      position: relative;
      background-color: #fff;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      display: flex;
      justify-items: start;
      flex-direction: column;
      justify-content: center;
      flex-wrap: nowrap;

      & a {
        font-size: 18px;
        text-decoration: none;
        font-weight: bold;
        cursor: pointer;
        color: #000;
      }

      & img {
        width: 250px;
        height: 150px;
      }
    }

    &--manage {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      top: -30px;
      right: 0;

      &.visible {
        opacity: 1;
      }
  
      & button {
        border: 1px solid #ebe2e2;
        border-radius: 3px;
        border-bottom: none;
        padding: 5px 10px;
        cursor: pointer;
        background-color: #fff;
      }
    }
  
    & .card-desc, 
    & .card-buttons {
      padding: 10px 15px;
    }

    & .card-buttons {
      display: flex;
      gap: 10px;
    }
  }
}
