<div class="container">
  <div class="card">
    <h3>Are you new here ?</h3>
    <form [formGroup]="registerForm" (ngSubmit)="onFormSubmit()" class="register-form">
      <!-- User First Name Input -->
      <div class="form-group">
        <label for="firstName" class="register-label">First Name</label>
        <input 
          type="text" 
          formControlName="firstName" 
          class="register-input" 
          [ngClass]="{ 'is-invalid': submitted && fval['firstName'].errors }" 
          placeholder="Enter First Name here"
        />
        <div *ngIf="submitted && fval['firstName'].errors" class="register-error">
          <div *ngIf="fval['firstName'].errors['required']" class="register-error-message">First Name is required</div>
        </div>
      </div>
      <!-- User Last Name Input -->
      <div class="form-group">
        <label for="lastName" class="register-label">Last Name</label>
        <input 
          type="text" 
          formControlName="lastName" 
          class="register-input" 
          placeholder="Enter Last Name here"
        />
      </div>
      <!-- User Phone Input -->
      <div class="form-group">
        <label for="email" class="register-label">Phone</label>
        <input 
          type="text" 
          formControlName="phone" 
          class="register-input" 
          [ngClass]="{ 'is-invalid': submitted && fval['phone'].errors }" 
          placeholder="Enter Phone here"
        />
        <div *ngIf="submitted && fval['phone'].errors" class="register-error">
          <div *ngIf="fval['phone'].errors['required']" class="register-error-message">Phone is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="register-label">Password</label>
        <input 
          type="password" 
          formControlName="password" 
          class="register-input" 
          [ngClass]="{ 'is-invalid': submitted && fval['password'].errors }" 
          placeholder="Enter Password here"
        />
        <div *ngIf="submitted && fval['password'].errors" class="register-error">
          <div *ngIf="fval['password'].errors['required']" class="register-error-message">Password is required</div>
          <div *ngIf="fval['password'].errors['minlength']" class="register-error-message">Password must be at least 6 characters</div>
        </div>  
      </div>
      <!-- User Role Selection -->
      <div class="form-group">
        <label class="register-label">User Role:</label>
        <div class="register-role-selection">
          <label class="register-role-label">
            <input type="radio" formControlName="role" [value]="'admin'" class="register-role-input"> Admin
          </label>
          <label class="register-role-label">
            <input type="radio" formControlName="role" [value]="'operator'" class="register-role-input"> Operator
          </label>
        </div>
      </div>
      <!-- register Button -->
      <div class="form-group">
        <button [disabled]="loading" class="register-button">
          <span *ngIf="loading" class="register-spinner"></span>
          Register
        </button>
      </div>
    </form>
  </div>
</div>
