.pagination {
  display: flex;
  justify-content: flex-end;
  padding: 0 4rem;

  &-container {
    gap: 10px;
    display: flex;

    & button:not(:disabled) {
      border: none;
      padding: 5px 15px;
      background-color: cadetblue;
      color: white;
      cursor: pointer;
    }
  }
}