
<div *ngIf="country$ | async as country; else loading">
  <h2>{{ country.name.common }}</h2>
  <p>Official Name: {{ country.name.official }}</p>
  <p>Capital: {{ country.capital[0] }}</p>
  <p>Region: {{ country.region }}</p>
  <p>Subregion: {{ country.subregion }}</p>
  <p>Population: {{ country.population }}</p>
  <p>Area: {{ country.area }} km²</p>
  <p>Languages: {{ getAllLanguages(country.languages) }}</p>
  <p>Currency: {{ getCurrency(country.currencies) }}</p>
  <p>Timezone: {{ country.timezones }}</p>
  <p>Flag: <img [src]="country.flags.svg" alt="Flag of {{ country.name.common }}" /></p>
  <p>Google Maps: <a href="{{ country.maps?.googleMaps }}" target="_blank">Open in Google Maps</a></p>
  <button (click)="goBack()">Go Back</button>
</div>

<ng-template #loading>
  <p>Loading country information...</p>
</ng-template>
