.user-header {
  margin: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0 25px;
  justify-content: space-between;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  & .user-header__login {
    color: #445cd6;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
  }
}